@charset "UTF-8";

/* 共通部分
--------------------------*/
html {
  /* この指定により基本のサイズは16px */
  font-size: 100%;
}
/* サイト全体に指定したいCSSはここに書く */
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "7ヒラギノ角ゴ Pro W3", "sans-serif";
  /* 行間（高さ）の調整 */
  line-height: 1.3;
  color: #8E775D;
  background-color: #E0B6A9;
}
a {
  /* リンクのデフォルト装飾を削除 */
  text-decoration: none;
}
img {
  /* スマホ閲覧時に画像がはみ出てないように */
  max-width: 100%;
  height: auto;
}

/* HEADER
--------------------------*/
.top_header {
  /* .page-header内(h1タグ、navタグを横並びに) */
  display: flex;
  /* display:flexの要素を左右の両端に設定 */
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 auto;
}
.logo {
  width: 210px;
  margin-top: 20px;
}
.main-nav {
  /* メニュー（ulタグ）を横並びの設定 */
  display: flex;
  /* 16 * 1.25 = 20px */
  font-size: 1.25rem;
  /* liタグの「・」を削除 */
  list-style: none;
  /* 大文字に変換（テキストを直接大文字にしない方がいい） */
  text-transform: uppercase;
  margin-top: 30px;
}
.main-nav li {
  /* 横に並んだメニュー（liタグ）の左右に間隔をあける */
  margin-left: 36px;
}
.main-nav a{
  /* リンク（aタグ）のデフォルトの色を設定 */
  color: #957E80;
}
.main-nav a:hover{
  /* リンク（aタグ）にマウスを合わせた時の色を設定 */
  color: #0bd;
}

.header_pic img{
  width: 100%;
  height: 750px;
  object-fit: cover;
}
.site_intro {
  margin-top: 50px;
  font-size:1.25rem;
}
.site_intro img{
  display: flex;
  margin: 0 auto;
  height: 70px;
  width: 300px;
  margin-bottom: 20px;
}
.site_intro h2 {
  text-align: center;
}
.site_intro p {
  width: 400px;
  margin: 0 auto;
  font-size: 1.125rem;
}
.button_intro {
  display: flex;
  margin:  0 auto;
  margin-top: 50px;
  justify-content: center;
}


/* HOME
--------------------------*/
.container {
  text-align: center;
  /* 余白の設定（直近の親要素:bodyの横幅の10%で計算される=1280*0.1 = 128px） */
}
.container p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}
/* 見出し */
.page-title {
  font-size: 2.75rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  /* 太字→ノーマルに変更 */
  font-weight: bold;
  margin-top: 40px;
  background-color: white;
}
/* ボタン */
.button {
  font-size: 1rem;
  background: #957E80;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}
.button:hover {
  /* ボタンにカーソルを合わせた時にボタン自体の背景色を元の色より暗く変更 */
  background: #0090aa;
}
.sec_header{
  margin-bottom: 40px;
}

.row{
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 20px;
  place-content: center;
}
.main_pic img{
  height: 260px;
  width: 390px;
}

/* FOOTER
--------------------------*/
.pagetop{
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  background-color: white;
  height: 30px;
  margin-top: 50px;
}
.fa-angle-up{
  margin-right: 5px;
}

.footer {
  background-color: #957E80;
  height: 180px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer nav ul {
  display: flex;
  width: 300px;
}
.footer li{
  margin-left: 20px;
  list-style: none;
  margin:  0 auto; 
  margin-bottom: 35px;                               
}
.footer li a {
  color: #fff;
}


