@charset "UTF-8";

/* 共通部分
--------------------------*/
html {
  /* この指定により基本のサイズは16px */
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "7ヒラギノ角ゴ Pro W3", "sans-serif";
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
}
img {
  /* スマホ閲覧時に画像がはみ出てないように */
  max-width: 100%;  
}

/* HEADER
--------------------------*/
.logo {
  width: 210px;
  margin-top: 14px;
}
.main-nav {
  /* 横並びの設定 */
  display: flex;
  /* 16 * 1.25 = 20px */
  font-size: 1.25rem;
  list-style: none;
  text-transform: uppercase;
  margin-top: 34px;
}
.main-nav li {
  margin-left: 36px;
}
.main-nav a{
  color: #432;
}
.main-nav a:hover{
  color: #0bd;
}
.page-header {
  display: flex;
  /* display:flexの要素を左右の両端に設定 */
  justify-content: space-between;
  
}
.wrapper {
  /* コンテンツの横幅の最大を設定（左右に離れすぎないように） */
  max-width: 1100px;
  /* コンテンツを中央に配置する */
  /* margin: 0 auto; */
  /* スマホ向け余白の設定 */
  /* padding: 0 4%; */
}
